<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>BTSearch Tools</title>
		<link rel="stylesheet" href="./css/index.css">
		<link rel="icon" href="./image/icon.png" sizes="32x32">
		<script src="./js/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="./js/index.js" type="text/javascript"></script>
		<script type="text/javascript" src="./js/loading.js"></script>
  		<link rel="stylesheet" href="./css/loading.css">
	</head>

	<body>
		<div class="wrapper"></div>
		<div class="title">
			<h1>BTSearch</h1>
		</div>
		<div class="search">
			<div class="searchbar">
				<input type="text" id="search_text">
				<span onclick="search()" class="search_btn" id="btn">浪一下</span>
				<span onclick="search_sub()" class="search_btn" id="sub_btn">浪字幕</span>>
			</div>
		</div>
		<div class='result'>
			<div id="result_box">
			</div>
		</div>
			<div id='loading' class="hide_loading" >
			</div>
		<script>

		</script>
	</body>

</html>
